<ion-content center>

  <ion-fab class="menubtn" left top>
    <button ion-fab menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab class="menubtn" top right>
    <button ion-fab menuToggle>
      <img src="assets/image/logo.png" class="logo">
    </button>
  </ion-fab>

  <img *ngIf="!endAddress"
    src="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/256/Map-Marker-Ball-Chartreuse.png"
    class="screen-center" />






  <!-- <ion-card  class="driverInfo">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://openclipart.org/image/2400px/svg_to_png/190113/1389952697.png">
      </ion-avatar>
      <h2>{{drivername}}</h2>
      <h2>{{phone}}</h2>
      <h3>{{arrivingDistance}} Away</h3>
      <h3> Time to arrive : {{arrivingDuration}} </h3>
      <span item-end *ngIf="arrival_status == 'arriving'">
        <ion-spinner name="bubbles"></ion-spinner>
      </span>
    </ion-item>
  </ion-card> -->

  <div class="card-box" *ngIf="rideMode">
    <ion-card class="text-black">
      <ion-card-header>
        <small float-left class="text-light">{{string.driverInfo}}</small>
        <!-- <small float-right class="text-green">Cancel Ride</small> -->
      </ion-card-header>
      <ion-card-content>
        <div class="menu heading">
          <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <img src="https://openclipart.org/image/2400px/svg_to_png/190113/1389952697.png">
              </ion-avatar>
              <h2 class="text-black">
                {{drivername}}
                <ion-icon float-right name="ios-arrow-forward"></ion-icon>
              </h2>

              <div item-end *ngIf="arrival_status == 'arriving'">
                <ion-spinner name="bubbles"></ion-spinner>
              </div>

              <!-- <p class="text-black">4.7
                <span class="rateing">
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                </span>
              </p> -->
            </ion-item>
          </ion-list>
        </div>
        <ion-row padding class="car-details">
          <ion-col>
            <small class="text-light">{{string.driverDistance}}</small>
            <strong class="text-black">{{arrivingDistance/1000}} K.M</strong>
          </ion-col>
          <ion-col>
            <small class="text-light">{{string.timeToArrive}}</small>
            <strong class="text-black">{{arrivingDuration}}</strong>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>



  <ion-card class="shadow-black controls">
    <!-- <div id='vartical-line'></div> -->
    <!-- <hr > -->
    <ion-card-content>
      <div class="shadow-black border-radius">
        <ion-row>
          <ion-col class="location-icon">
            <strong class="bg-green"></strong>
          </ion-col>
          <ion-col class="pad-0">
            <ion-item class="bg-white border-bottom" (tap)="showAddressModal('start')">
              <!-- <ion-label floating>from</ion-label> -->
              <ion-input type="text" class="location" disabled="true" [(ngModel)]="startAddress"></ion-input>


              <button ion-button class="locate-icon" clear *ngIf="!rideMode" type="button" item-right
                (click)="setCurrentLocation()">
                <!-- <ion-icon name="locate"> </ion-icon> -->
              </button>
            </ion-item>
            <div class="triangle-down"></div>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="location-icon">
            <strong class="bg-yellow"></strong>
          </ion-col>
          <ion-col class="pad-0">
            <ion-item class="bg-white" (tap)="showAddressModal('end')">
              <!-- <ion-label floating>to</ion-label> -->
              <ion-input disabled="true" type="text" class="location" [(ngModel)]="endAddress"></ion-input>
              <ion-icon name="md-locate" class="text-black"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <div #map id="map"></div>

  <div *ngIf="otp != ''" class="qrCode">
    <h2>{{otp}}</h2>
    <!-- <qr-code [value]="otp" [size]="200"></qr-code> -->
    <p>{{string.otpMsg}}.</p>
  </div>




  <!-- choose cab -->
  <div class="card-box">

    <!-- <ion-card no-padding class="riding">
      <ion-card-content>
        <ion-list inset>
          <ion-item>
            <p item-left>You are currently riding </p>
            <button item-right ion-button outline color="secondary">show</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->

    <ion-card class="text-black" *ngIf="!rideMode">
      <ion-card-header>
        <span text-center class="mx-a">{{string.cabType}}</span>
      </ion-card-header>
      <ion-card-content>
        <div class="cab-scroll bg-white">
          <div class="cab-container">
            <div class="cab-type" *ngFor="let cab of cabTypes;let i = index" (click)="selectCar(i,cab)">
              <div [ngClass]="{'img-box': true, 'active': (i == selectedCar)}">
                <!-- <img src="assets/imgs/car-1.png"> -->
                <img src="assets/economy.png" src="{{'assets/'+cab.name+'.png'}}">
                <ion-badge *ngIf="cab.duration" item-end class="bg-green">{{cab.duration}}</ion-badge>
                <!-- loader starts -->
                <svg *ngIf="!cab.duration" width="116px" height="116px" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;">
                  <!--circle(cx="16",cy="50",r="10")-->
                  <circle cx="84" cy="50" r="0" fill="#5cd65c">
                    <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                  <circle cx="16" cy="50" r="5.85813" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-1.35s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-1.35s"></animate>
                  </circle>
                  <circle cx="84" cy="50" r="4.14187" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-0.675s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-0.675s"></animate>
                  </circle>
                  <circle cx="69.9176" cy="50" r="10" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                  <circle cx="35.9176" cy="50" r="10" fill="#5cd65c">
                    <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                </svg>
                <!-- loader ends -->
              </div>
              <h4 class="text-black ">{{cab.name}}</h4>
              <small class="text-light " *ngIf="cab.cost">${{cab.cost}} - ${{cab.cost+5}}</small>
            </div>
          </div>
        </div>
        <ion-row padding-left padding-right>

          <ion-col col-12>
            <button ion-button full *ngIf="!rideMode && nearestDrivers.length != 0" ion-button (click)="bookDriver()"
              class="bg-green shadow-green full">{{string.bookBtn}}</button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>