<ion-content center>

  <ion-fab class="menubtn" left top>
    <button ion-fab menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab class="menubtn" top right>
    <button ion-fab menuToggle>
      <img src="assets/image/logo.png" class="logo">
    </button>
  </ion-fab>

  <img *ngIf="!endAddress"
    src="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/256/Map-Marker-Ball-Chartreuse.png"
    class="screen-center" />



  <div class="card-box" *ngIf="rideStatus != 'idle'">
    <ion-card class="text-black">
      <ion-card-header>
        <small float-left class="text-light">{{accepted?'Driver Info':'Waiting for driver response ...'}}</small>
        <small float-right class="text-red"></small>
      </ion-card-header>
      <ion-card-content>
        <div class="passanger-info heading">
          <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <img src="{{driverImage}}">
              </ion-avatar>
              <h2 class="text-black">
                {{drivername}} <strong class="text-green">({{arrivingDuration}} away)</strong>
              </h2>
              <h4 class="text-black">
                <!-- {{driverPhone}} -->
                <span class="rateing">
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                  <ion-icon name="star" class="text-green"></ion-icon>
                </span>
              </h4>

              <div item-end>
                <ion-spinner *ngIf="rideStatus == 'request'" name="bubbles"></ion-spinner>
                <ion-icon *ngIf="rideStatus == 'arrive'" class="call" name="call"></ion-icon>
                <ion-icon *ngIf="rideStatus == 'pick_up'" class="call" name="call"></ion-icon>
                <ion-icon *ngIf="rideStatus == 'ride'" class="call" name="navigate"></ion-icon>
              </div>

            </ion-item>
          </ion-list>
        </div>
        <ion-row>
          <span class="distance"> ride code : {{otp}} </span>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>



  <ion-card class="shadow-black controls">
    <ion-card-content>
      <div class="shadow-black border-radius">
        <ion-row>
          <ion-col class="location-icon">
            <strong class="bg-green"></strong>
          </ion-col>
          <ion-col class="pad-0">
            <ion-item class="bg-white border-bottom" (tap)="showAddressModal('start')">
              <ion-input type="text" class="location" disabled="true" [(ngModel)]="startAddress"></ion-input>


              <button ion-button class="locate-icon" clear *ngIf="!rideMode" type="button" item-right
                (click)="setCurrentLocation()">
              </button>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="location-icon">
            <strong class="bg-yellow"></strong>
          </ion-col>
          <ion-col class="pad-0">
            <ion-item class="bg-white" (tap)="showAddressModal('end')">
              <ion-input disabled="true" type="text" class="location" [(ngModel)]="endAddress"></ion-input>
              <ion-icon name="md-locate" class="text-black"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <div #map style="position:absolute !important" id="map"></div>





  <!-- choose cab -->
  <div class="card-box">

    <ion-card class="text-black" *ngIf="rideStatus == 'idle'">
      <ion-card-content>
        <ion-grid class="cab-scroll bg-white">
          <ion-row class="cab-container">
            <ion-col col-3 class="cab-type" *ngFor="let cab of cabTypes;let i = index" (tap)="selectCar(i,cab)">
              <div [ngClass]="{'img-box': true, 'active': (i == selectedCar)}">
                <!-- <img src="assets/imgs/car-1.png"> -->
                <img src="assets/economy.png" src="{{'assets/'+cab.name+'.png'}}">
                <ion-badge *ngIf="cab.duration" item-end class="bg-green">{{cab.duration}}</ion-badge>
                <!-- loader starts -->
                <svg *ngIf="!cab.duration" width="116px" height="116px" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;">
                  <!--circle(cx="16",cy="50",r="10")-->
                  <circle cx="84" cy="50" r="0" fill="#5cd65c">
                    <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                  <circle cx="16" cy="50" r="5.85813" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-1.35s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-1.35s"></animate>
                  </circle>
                  <circle cx="84" cy="50" r="4.14187" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-0.675s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="-0.675s"></animate>
                  </circle>
                  <circle cx="69.9176" cy="50" r="10" fill="#5cd65c">
                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                  <circle cx="35.9176" cy="50" r="10" fill="#5cd65c">
                    <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                    <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1"
                      keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.7s"
                      repeatCount="indefinite" begin="0s"></animate>
                  </circle>
                </svg>
                <!-- loader ends -->
              </div>
              <h4 class="text-black ">{{cab.name}}</h4>
              <small class="text-light " *ngIf="cab.cost">${{cab.cost}} - ${{cab.cost+5}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row padding-left padding-right>

          <ion-col col-12>
            <button ion-button full *ngIf="rideStatus == 'idle' && nearestDrivers.length != 0" ion-button
              (click)="bookDriver()" class="bg-green shadow-green full">{{string.bookBtn}}</button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>