<!--
  Generated template for the TriphistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-toolbar style="background-color:#54b61e !important">
      <ion-title (click)="pop()">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon> Trip History
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <ion-fab class="menubtn" left top (click)="pop()">
    <button ion-fab>
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
    </button>
  </ion-fab> -->

  <!-- each trip -->
  <!-- card  -->
  <ion-card *ngFor="let trip of trips">
    <!-- card header  -->
    <ion-card-header no-padding>
      <ion-list>
        <ion-item no-padding class="name">
          <!-- profile img -->
          <ion-avatar item-start>
            <img *ngIf="!trip.userId.profileImage" item-start src="./assets/image/user.jpg" />
            <img *ngIf="trip.userId.profileImage" item-start
              src="{{httpService.url+'user/fileShow?imageId='+trip.driverId.profileImage+'&select=thumbnail'}}" />
          </ion-avatar>
          <!-- profile img -->
          <!-- date html -->
          <ion-note item-end class="time">{{(trip.createdDate)?trip.createdDate.substring(0,10):''}}</ion-note>
          <!-- date html -->
          <!-- profile name -->
          <p>{{trip.driverId.firstName +' '+trip.driverId.lastName}}</p>
          <p style="    color: green !important;
          font-size: 12px;">{{trip.driverId.carName}}({{trip.driverId.carType}})</p>
          <!-- profile name -->
        </ion-item>
      </ion-list>
    </ion-card-header>
    <!-- card header css -->
    <ion-card-content padding-top>
      <!-- start time -->
      <div class="start" padding-left>
        <p no-margin>{{(trip.startTime)?trip.startTime.substring(15,25):''}}</p>
        <span style="color:blue !important">{{trip.startLocation}}</span>
      </div>
      <!-- start time -->

      <!-- end time -->
      <div class="end" padding-left>
        <p no-margin>{{(trip.endTime)?trip.endTime.substring(15,25):''}}</p>
        <span style="color:orange !important">{{trip.endLocation}}</span>
      </div>
      <!-- end time -->
    </ion-card-content>

    <!-- footer card -->
    <div class="footer" padding-horizontal>
      <p float-left>
        {{ trip.distance }}
        <!-- <span *ngIf="trip.distance">Mile</span> -->
      </p>
      <p float-right class={{trip.status}}>{{trip.status}}</p>
    </div>

    <!-- <img class="stamp" src="assets/stamps/{{trip.stamp}}" /> -->
    <!-- footer card -->
    <!-- <ion-card-footer>
      Header
    </ion-card-footer> -->
  </ion-card>
  <!-- card  end-->

</ion-content>