<ion-header>
  <ion-navbar>
    <ion-title>{{string.forgot+" "+string.password}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <img src="assets/image/logo.png" class="logo">

  <!-- <div class="heightsec"> -->
  <!-- <div class="headtext"> -->
  <div class="emailhead">
    <div class="emailcont">
      <ion-list>
        <ion-item *ngIf="isPhoneNumber">
          <ion-label floating>{{string.mobileNumber}}</ion-label>
          <ion-input type="number" [(ngModel)]="phone" name="phoneNumber"></ion-input>
        </ion-item>
        <ion-item *ngIf="isCode">
          <ion-label floating>{{string.enter}} O.T.P</ion-label>
          <ion-input type="number" [(ngModel)]="code" name="otp"></ion-input>
          <span>{{otpmessage}}</span>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-grid *ngIf="isCode">

    <ion-row>
      <ion-col>
        <p class="resendtxt">please use 8888 as your O.T.P</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="btnhead">
    <div class="btnsec">
      <button ion-button *ngIf="isPhoneNumber" (click)="sendOTP()">{{string.send}} O.T.P</button>
      <button ion-button *ngIf="isCode" (click)="verifyOTP()">{{string.send}} O.T.P</button>
    </div>

  </div>
  <!-- </div> -->
  <!-- </div> -->
</ion-content>