<ion-header>

  <ion-navbar>
    <ion-title>Car and Driving Documents</ion-title>

    <!-- <ion-icon ios="ios-more" md="md-more" float-right padding-right></ion-icon> -->

  </ion-navbar>

</ion-header>


<ion-content center>
  <div class="middlesec">
    <div class="inputsec">
      <div class="docsec" (tap)="open('drivingLicense')">
        <h4><b>driving license</b></h4>
        (tap here to upload)
        <img [src]="url" *ngIf="url != ''" />
        <ion-item>
          <input id="drivingLicense" accept="image/*" style="display:none" type="file"
            (change)="drivingLicense($event)" />
        </ion-item>
      </div>
      <div class="docsec" (tap)="open('vehicleInsurance')">
        <h4><b>vehicle insurance</b> </h4>
        (tap here to upload)
        <img [src]="urlOne" *ngIf="urlOne != ''" />
        <ion-item>
          <!-- <ion-label stacked padding-top class="headlabel">Vehicle Insurance</ion-label> -->

          <input type="file" accept="image/*" style="display:none" id="vehicleInsurance"
            (change)="vehicleInsurance($event)" />
        </ion-item>
      </div>
      <div class="docsec" (tap)="open('vehicleRegistration')">
        <h4><b>vehicle registration</b> </h4>
        (tap here to upload)
        <img [src]="urlTwo" *ngIf="urlTwo != ''" />
        <ion-item>
          <!-- <ion-label stacked padding-top class="headlabel">Vehicle Registration</ion-label> -->
          <!-- <ion-icon name="add" item-end></ion-icon> -->
          <input type="file" accept="image/*" style="display:none" id="vehicleRegistration"
            (change)="vehicleRegistration($event)" />
        </ion-item>
      </div>
      <div class="docsec" (tap)="open('vehiclePermit')">
        <h4><b>Vehicle Permit</b> </h4>
        (tap here to upload)
        <img [src]="urlThree" *ngIf="urlThree != ''" />
        <ion-item>
          <!-- <ion-label stacked padding-top class="headlabel">Vehicle Permit</ion-label> -->
          <input style="display:none" accept="image/*" id="vehiclePermit" type="file"
            (change)="vehiclePermit($event)" />

        </ion-item>
      </div>
    </div>

  </div>
  <!-- <div class="footercontent">
    <button ion-button text-center class="sendrequest" [hidden]="showForm" (click)="upload()">Finish</button>
  </div> -->
  <div class="center">
    <button ion-button color="secondary" (click)="DocUpload()">Upload documents & Proceed</button>
  </div>
</ion-content>