page-otp {
  #touch {
    height: 60px;
    width: 60px;
  }

  .verifyContent {
    text-align: center;
    margin: 5em 0 0 0;
  }

  p.verify {
    font-size: 21px;
    letter-spacing: 1px;
    margin-top: 2em;
    color: #4f515e;
  }

  p.subContent {
    color: #9699ad;
    text-align: center;
    padding: 0 3em;
    font-size: 13px;
    margin-bottom: 4em;
  }

  ion-grid.buttonGrid.grid {
    margin: 3em 0 9em 0;
  }

  button.verifyCode.disable-hover.button.button-md.button-default.button-default-md,
  button.verifyCode.disable-hover.button.button-ios.button-default.button-default-ios {
    background: #78e06e;
    text-transform: capitalize;
    width: 100%;
    font-size: 13px;
  }

  button.resend.disable-hover.button.button-md.button-outline.button-outline-md,
  button.resend.disable-hover.button.button-ios.button-outline.button-outline-ios {
    color: #8286a0;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    width: 100%;
  }

  .ftr {
    text-align: center;
    padding: 0 2em;
  }

  .ftr p {
    color: #989baf;
    font-size: 12px;
    margin: 0px 0 12px 0;
  }

  .ftr p span {
    color: #9274da;
    font-size: 13px;
    font-weight: 500;
  }

  #partitioned {
    padding-left: 12px;
    letter-spacing: 52px;
    border: 0;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #9E9E9E), color-stop(0%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to left, #9E9E9E 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 66px 2px;
    background-repeat: repeat-x;
    background-position-x: 44px;
    width: 275px;
    min-width: 286px;
    font-size: 21px;

  }

  #divInner {
    left: 0;
    position: sticky !important;
  }

  #divOuter {
    width: 240px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
  }
}
